.resultsPage {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.resultsSection {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.resultsSearchingHeading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 20px;
}

.resultsHeading {
	width: 100%;
	text-align: center;
	color: black;
	margin-top: 40px;
}

.searchQuery {
	width: 75%;
	text-align: center;
	color: black;
	overflow-wrap: break-word;
	margin: 0 auto 40px;
}

.trackResultsList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	/* padding: 0px 20px 25px 20px; */
	/* gap: 15px; */
	margin: 0% 5% 40px 5%;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}
