.resultsPage {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.resultsSection {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.resultsSearchingHeading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 20px;
}

.noResultsMessage {
	margin: 4rem;
	white-space: wrap;
	overflow-wrap: break-word;
}

.resultsMessage {
	margin: 4rem;
	white-space: wrap;
	overflow-wrap: break-word;
}

.resultsHeading {
	width: 100%;
	font-size: 1.75rem;
	color: rgb(160, 160, 160);
	font-weight: normal;
}

.searchQuery {
	color: black;
	font-size: 7rem;
}

.trackResultsList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 4rem 4rem 4rem;
	gap: 1rem;
	align-items: flex-start;
	box-sizing: border-box;
	justify-content: space-between;
	/* justify-content: center; */
}
