.resultsPage {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.resultsSection {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.resultsSearchingHeading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 20px;
}

.noResultsMessage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 20px;
}

.resultsMessage {
	font-size: 20px;
}

.resultsHeading {
	width: 100%;
	text-align: center;
	color: black;
	margin-top: 3%;
	font-size: 20px;
	font-weight: normal;
}

.searchQuery {
	width: 70%;
	text-align: center;
	color: black;
	overflow-wrap: break-word;
	margin: 0 auto 3%;
}

.trackResultsList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0% 5% 3.5% 5%;
	gap: 1%;
	align-items: flex-start;
	box-sizing: border-box;
	justify-content: center;
}
