.homePage {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.mainContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: black;
	border-radius: 7px;
	background-color: #f0f0f0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
	margin: 0 max(1.5rem, 4vw);
	padding: 4rem;
}

.mainHeading {
	width: 80%;
	margin: 0 auto;
	font-size: 7rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.subHeading {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 1rem;
	font-size: 1.75rem;
	color: rgb(160, 160, 160);
	font-weight: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.searchContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.searchBar {
	width: 60%;
	min-width: 20rem;
	background: white;
	display: flex;
	align-items: center;
	border-radius: 7px;
	padding: 0.75rem;
	border: 1px solid black;
}

.searchText {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 0 0.5rem;
	font-size: 1.25rem;
	color: black;
	text-overflow: ellipsis;
}

::placeholder {
	color: #e0e0e0;
}

.searchButton {
	border: 0;
	border-radius: 4px;
	width: 2.5rem;
	height: 2.5rem;
	background-color: #f0f0f0;
	cursor: pointer;
	padding-top: 2px;
	transition: background-color 0.35s ease, color 0.35s ease;
}
