.trackLyricsSplit,
.trackLyricsInline {
	display: flex;
	flex: 1;
	color: black;
	margin: 0% 5% 5% 5%;
	font-size: 22px;
	gap: 1.25%;
}

.plainLyricsSection,
.romanizationSection {
	width: 50%;
	display: flex;
	justify-content: start;
	flex-direction: column;
	line-height: 1.5;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.lineHighlighted {
	background-color: black;
	border-color: black;
	color: white;
}

.trackLyricsInlineSection {
	width: 100%;
	display: flex;
	justify-content: start;
	flex-direction: column;
	line-height: 1.75;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.inlineBox {
	font-size: 22px;
	margin: 0 6px;
}

.inlineRom {
	font-size: 22px;
	margin-top: 6px;
}

.inlineRomDropdown,
.splitRomDropdown {
	font-size: 22px;
	border: none;
	background-color: inherit;
	outline: none;
}

.splitRomDropdown {
	color: inherit;
}
