.trackLyricsSplit,
.trackLyricsInline {
	display: flex;
	flex: 1;
	color: black;
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	gap: clamp(1rem, 3vw, 1.5rem);
	min-width: 50%;
}

.plainLyricsSection,
.romanizationSection {
	display: flex;
	justify-content: start;
	flex-direction: column;
	line-height: 1.5;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	border-radius: 7px;
	background-color: #eeeeee;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
	padding: clamp(0.75rem, 2vw, 1rem);
	width: 100%;
}

.plainLyricsSection {
	width: 35%;
}

.romanizationSection {
	width: 65%;
}

.lineHighlighted {
	background-color: black;
	border-color: black;
	color: white;
	border-radius: 4px;
}

.trackLyricsInlineSection {
	width: 100%;
	display: flex;
	justify-content: start;
	flex-direction: column;
	line-height: clamp(1.5, 4vw, 1.75);
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	border-radius: 7px;
	background-color: #eeeeee;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
	padding: clamp(0.75rem, 2vw, 1rem);
}

.inlineBox {
	margin: 0 clamp(0.25rem, 2vw, 0.5rem);
}

.inlineRom {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	margin-top: clamp(0.25rem, 2vw, 0.5rem);
}

.inlineRomDropdown,
.splitRomDropdown {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	border: none;
	background-color: inherit;
	outline: none;
}

.splitRomDropdown {
	color: inherit;
}
