.footerList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 34.5px 4rem;
	/* border-top: solid 1px black; */
	list-style: none;
}

.footerItem {
	font-size: 13px;
}

.footerLink {
	margin: 0 20px 0 0;
	color: black;
	text-decoration: none;
}

.copyright {
	margin-left: auto;
	color: black;
}
