.footerList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 max(1.5rem, 4vw);
	height: 6rem;
	list-style: none;
}

.footerItem {
	font-size: 0.85rem;
}

.footerLink {
	margin: 0 1.5rem 0 0;
	color: black;
	text-decoration: none;
}

.copyright {
	margin-left: auto;
	color: black;
	font-size: 1rem;
}
