.footerList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 max(1.5rem, 4vw);
	height: 6rem;
	list-style: none;
}

.footerItem {
	font-size: 0.85rem;
}

.footerLink {
	color: black;
	text-decoration: none;
	/* font-weight: bold; */
}

.footerLink:hover {
	text-decoration: underline;
}

.footerLinks {
	display: flex;
	flex: row;
	margin-left: auto;
	gap: 1.5rem;
}

.copyright {
	color: black;
	font-size: 1rem;
}
