.resultRow {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex: 1 1 calc(25% - clamp(1rem, 3vw, 1.5rem));
	min-width: clamp(14rem, 30vw, 18rem);
	max-width: clamp(26rem, 50vw, 30rem);
	border-radius: 7px;
	text-overflow: ellipsis;
	background: #eeeeee;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
	padding: clamp(0.75rem, 2vw, 1rem);
	cursor: pointer;
}

.resultRow:hover {
	text-decoration: underline;
}

.imgURL {
	width: 100%;
	height: auto;
	max-height: fit-content;
	object-fit: cover;
	display: block;
	border-radius: 7px;
	aspect-ratio: 1/1;
}

.trackInfo {
	color: black;
	overflow: hidden;
	padding-top: clamp(0.25rem, 1vw, 0.5rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.trackTitle,
.trackArtist,
.trackYear {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.trackTitle {
	font-size: clamp(1.25rem, 2.5vw, 1.75rem);
	padding-bottom: clamp(0.05rem, 0.25vw, 0.15rem);
	line-height: clamp(1.5rem, 3vw, 2rem);
}

.trackArtist,
.trackYear {
	font-size: clamp(1rem, 2vw, 1.25rem);
	font-weight: normal;
	line-height: clamp(1.25rem, 3vw, 1.75rem);
}
