.resultRow {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex: 1 1 calc(25% - 1.5rem);
	min-width: 18rem;
	max-width: 28rem;
	border-radius: 7px;
	text-overflow: ellipsis;
	background: #f0f0f0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
	padding: 1rem;
	cursor: pointer;
}

.resultRow:hover {
	text-decoration: underline;
}

.imgURL {
	width: 100%;
	height: auto;
	max-height: fit-content;
	object-fit: cover;
	display: block;
	border-radius: 7px;
	aspect-ratio: 1/1;
}

.trackInfo {
	color: black;
	overflow: hidden;
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.trackTitle,
.trackArtist,
.trackYear {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.trackTitle {
	font-size: 1.75rem;
	padding-bottom: 0.15rem;
	line-height: 2rem;
}

.trackArtist,
.trackYear {
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1.75rem;
}
