.errorSection,
.loadingSection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 max(1.5rem, 4vw);
	padding: 2rem;
}

.errorMessage,
.loadingMessage {
	font-size: 1.75rem;
	color: black;
}

.noLyricsSection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: max(1.5rem, 4vw);
	padding: 2rem;
	border-radius: 7px;
	background-color: #eeeeee;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
}

.noLyricsMessage {
	font-size: 1.5rem;
	color: black;
}

.trackPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.trackInfo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2rem max(1.5rem, 4vw) 1.5rem max(1.5rem, 4vw);
	row-gap: 1.5rem;
	column-gap: 1.5rem;
}

.trackImage {
	display: block;
	width: 100%;
	max-width: 25rem;
	height: auto;
	max-height: fit-content;
	object-fit: contain;
	border-radius: 7px;
}

.trackDetails {
	display: flex;
	flex-direction: column;
	justify-content: end;
	flex: 1;
	width: 100%;
	min-width: 50%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.trackAlbumYear,
.trackArtist {
	font-size: 1.75rem;
	color: #aaaaaa;
}

.trackTitle {
	font-size: 6rem;
}

.lyrics {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1.5rem max(1.5rem, 4vw) 2rem max(1.5rem, 4vw);
	row-gap: 1.5rem;
	column-gap: 1.5rem;
}

.controls {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	max-width: 25rem;
	padding: 1rem;
	border-radius: 7px;
	background-color: #eeeeee;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
}

.viewModeControls,
.chineseControls,
.romanizationControls {
	display: flex;
	flex-direction: column;
}

.chineseControls {
	margin: 1.5rem 0;
}

.viewModeTopLine,
.chineseTopLine,
.romanizationTopLine {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.25rem;
	row-gap: 0.25rem;
}

.viewModeHeading,
.chineseHeading,
.romanizationHeading {
	font-size: 1.25rem;
}

.viewModeDropdown,
.chineseDropdown,
.romanizationDropdown {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 12.5rem;
	height: fit-content;
	padding: 0.25rem;
	border-radius: 4px;
	font-size: 1rem;
	outline: none;
}

.viewModeSubHeading,
.chineseSubHeading,
.romanizationSubHeading {
	font-size: 1rem;
	color: #999999;
}
