.errorMessage,
.loadingMessage {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 20px;
}

.noLyricsMessage {
	height: 100%;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 5% 5% 0% 5%;
	font-size: 20px;
}

.trackPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.trackInfo {
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	margin: 3.5% 5% 0% 5%;
}

.trackImage {
	width: 100%;
	max-width: 450px;
	height: auto;
	max-height: fit-content;
	object-fit: contain;
	display: block;
	border-radius: 7px;
}

.trackDetails {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 2.5%;
	font-size: 50px;
	justify-content: end;
}

.trackAlbumYear,
.trackArtist {
	font-size: 35px;
}

.controls {
	display: flex;
	/* flex-direction: row; */
	flex-direction: column;
	margin: 2.5% 5% 2% 5%;
	justify-content: space-between;
}

.lyricsControls {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.25%;
}

.inlineLyricsControls {
	display: flex;
	flex-direction: column;
}

.viewModeControls {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1.5%;
}

.viewCheckbox {
	display: none;
}

.viewSwitch {
	position: relative;
	border: 1px solid black;
	width: 60px;
	height: 0;
	background-color: white;
	border-radius: 5px;
	margin: 0px 10px;
}

.viewSlider {
	position: absolute;
	width: 27px;
	height: 27px;
	background-color: white;
	border-radius: 5px;
	left: 3px;
	transform: translateY(-50%);
	transition: all 0.25s ease;
	border: 1px solid black;
	cursor: pointer;
}

.viewCheckbox:checked + .viewSwitch .viewSlider {
	left: calc(100% - 27px - 3px);
}

.plainLyricsControls,
.plainInlineLyricsControls,
.romanizationControls {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.plainInlineLyricsControls {
	margin-bottom: 1%;
}

.plainLyricsControls {
	width: 35%;
}

.romanizationControls {
	width: 65%;
}

.plainLyricsHeading,
.romanizationHeading {
	/* width: 100%; */
	white-space: nowrap;
}

.romanizationDropdown,
.plainLyricsDropdown {
	font-size: 16px;
	margin-left: 5px;
	align-items: center;
	justify-content: center;
	outline: none;
	border-radius: 5px;
	padding: 5px;
}

@media (max-width: 480px) {
	.trackInfo {
		flex-direction: column;
	}

	.trackDetails {
		margin-top: 2%;
		padding-left: 0;
	}

	.controls {
		flex-direction: column;
		margin-top: 6%;
		margin-bottom: 6%;
	}

	.viewModeControls {
		margin-bottom: 2%;
	}

	.lyricsControls {
		gap: 0px;
		flex-direction: column;
	}

	.plainLyricsControls {
		margin-bottom: 1%;
	}

	.plainLyricsHeading,
	.romanizationHeading {
		width: auto;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.trackInfo {
		flex-direction: column;
	}

	.trackDetails {
		margin-top: 2%;
		padding-left: 0;
	}

	.controls {
		flex-direction: column;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.viewModeControls {
		margin-bottom: 2%;
	}

	.lyricsControls {
		gap: 0px;
		flex-direction: column;
	}

	.plainLyricsControls {
		margin-bottom: 1%;
	}

	.plainLyricsHeading,
	.romanizationHeading {
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.trackInfo {
		flex-direction: column;
	}

	.trackDetails {
		margin-top: 2%;
		padding-left: 0;
	}

	.controls {
		flex-direction: column;
		margin-top: 4%;
		margin-bottom: 4%;
	}

	.viewModeControls {
		margin-bottom: 2%;
	}

	.lyricsControls {
		gap: 0px;
		flex-direction: column;
	}

	.plainLyricsControls {
		margin-bottom: 1%;
	}

	.plainLyricsHeading,
	.romanizationHeading {
		width: auto;
	}
}
